{% extends "base.html" %}
{% block title %}Historique{% endblock %}

{% block content %}
<h2 class="text-2xl font-bold mb-4">Historique patient</h2>

<table class="min-w-full bg-white shadow rounded mb-4">
  <thead>
    <tr class="bg-gray-200 text-left">
      <th class="p-2">Date</th>
      <th class="p-2">Amplitude</th>
      <th class="p-2">Fréquence</th>
      <th class="p-2">Type Tremblement</th>
      <th class="p-2">Score</th>
      <th class="p-2">Alerte</th>
    </tr>
  </thead>
  <tbody>
    {% for s in sessions %}
    <tr class="border-t">
      <td class="p-2">{{ s.date }}</td>
      <td class="p-2">{{ s.amplitude }}</td>
      <td class="p-2">{{ s.frequency }}</td>
      <td class="p-2">{{ s.type_tremblement }}</td>
      <td class="p-2">{{ s.score_severite }}</td>
      <td class="p-2 text-red-600">{{ s.alert or "" }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div id="chart" style="height:400px;"></div>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
var dates = [{% for s in sessions %}'{{ s.date }}',{% endfor %}];
var amplitudes = [{% for s in sessions %}{{ s.amplitude }},{% endfor %}];
var frequencies = [{% for s in sessions %}{{ s.frequency }},{% endfor %}];

var trace1 = {x: dates, y: amplitudes, type: 'scatter', name: 'Amplitude'};
var trace2 = {x: dates, y: frequencies, type: 'scatter', name: 'Fréquence'};

Plotly.newPlot('chart', [trace1, trace2], {margin:{t:30}});
</script>
{% endblock %}
